$dark-bg: rgb(0, 0, 0);
$roku-purple: rgb(124, 122, 122);
$login-button: #d62957;

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  